*.lo
*.o
*.so
*.a
.DS_Store
*.la
*~
.libs
.deps
.svn
*.status
*.log
stamp-h1
*.pc
*.cache
Makefile.in
libtool
libtool.m4
aclocal.m4
Makefile
*.pyc

*.backbone
*.bbcols
*.xmfa
muscle
INSTALL
*.sslist
configure
addUnalignedIntervals
alignmentProjector
backbone_global_to_local
bbAnalyze
bbFilter
config.h
coordinateTranslate
createBackboneMFA
extractBCITrees
getAlignmentWindows
getOrthologList
makeBadgerMatrix
mauveAligner
mauveStatic
mauveToXMFA
mfa2xmfa
progressiveMauve
progressiveMauveStatic
projectAndStrip
randomGeneSample
repeatoire
scoreAlignment
stripGapColumns
stripSubsetLCBs
toGrimmFormat
toMultiFastA
toRawSequence
uniqueMerCount
uniquifyTrees
xmfa2maf